<h1>Dane Hammer (dot) Rocks!</h1>
<div>
This website just serves to show some cool things you can do with continuous delivery. Right now this site's source is at <a href="https://github.com/danehammer/dot_rocks">GitHub</a>. <br/>
This web server is using <a href="http://chef.io">Hosted Chef</a>, and with the <em>chef-client</em> run
daemonized, every 5 minutes it runs and redeploys this application, if there is a new git commit. Check out
the cookbooks I'm using <a href="https://github.com/danehammer/chef-repo">here</a>, and look below for the latest
chef-client output.
<h3>Latest chef-client output</h3>
<div class="well">
  TODO -- This content is static on the box right now, need to configure chef-client log
  <pre><%= log_content %></pre>
</div>
<div>
<a href="http://www.linkedin.com/in/danehammer">
	<img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" border="0" alt="View Dane Hammer's profile on LinkedIn">
</a>
</div>
<div>
<a href="https://github.com/danehammer">Check me out on GitHub<img src="GitHub-Mark-32px.png" border="0" alt="View danehammer's profile on GitHub"></a>
</div>
