<div class="hero-unit">
<h1>Hello, I am Dane Hammer</h1>
<p>
I want to use this website to describe myself, but also show some cool things you can do with continuous delivery. This site's source is on <a href="https://github.com/danehammer/dot_rocks">GitHub</a>. Click the Big Button to see more about how this site is set up.
</p>
<p>
  <a class="btn btn-primary btn-large" href="/this_site">Aforementioned Big Button</a>.
</p>
</div>
<p>
The whole point I'm trying to convey about myself is yes, I'm a good Software Engineer. Lots of time spent building Java libraries, and scripting with Ruby, and building small web apps like this one. But there are lots of people who do those things. I bring that, as well as the Lean, Systems Thinking required to move from our traditional Enterprise roles in this industry, to a DevOps mindset, where being able to write good code isn't enough to deliver a good client experience. I have both coding experience, and deployment experience. This website is a web app, but it's deployed on <a href="http://digitalocean.com">Digital Ocean</a>, with every step automated to take it from a blank, fresh VM to a functioning website.
</p>