<div class="page-header">
	<h1>Résumé</h1>
</div>
<p class="lead">
	<b>TXT:</b> <a href="/resume.txt">resume.txt</a>
	<br/>
	<b>PDF:</b> <a href="/resume.pdf">resume.pdf</a>
	<br/>
	<b>DOCX:</b> <a href="/resume.docx">resume.docx</a>
</p>