This web server is using <a href="http://chef.io">Hosted Chef</a>, and with the <em>chef-client</em> run
daemonized, every 5 minutes it runs and redeploys this application, if there is a new git commit. Check out
the cookbooks I'm using <a href="https://github.com/danehammer/chef-repo">here</a>, and look below for the latest
chef-client output.
<h3>Latest chef-client output</h3>
<div class="well">
  TODO -- This content is static on the box right now, need to configure chef-client log
  <pre><%= log_content %></pre>
</div>
